@font-face {
  font-family: "Shoor";
  src: url("../assets/fonts/shoor/Shoor-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shoor";
  src: url("../assets/fonts/shoor/Shoor-Light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shoor";
  src: url("../assets/fonts/shoor/Shoor-Regular.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shoor";
  src: url("../assets/fonts/shoor/Shoor-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shoor";
  src: url("../assets/fonts/shoor/Shoor-SemiBold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shoor";
  src: url("../assets/fonts/shoor/Shoor-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shoor";
  src: url("../assets/fonts/shoor/Shoor-UltraBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shoor";
  src: url("../assets/fonts/shoor/Shoor-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shoor";
  src: url("../assets/fonts/shoor/Shoor-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shoor";
  src: url("../assets/fonts/shoor/Shoor-Super.woff2") format("woff2");
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}
